/* CSS Reset */
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

input {
    border: none;
    outline: none;
}

/* GENERAL SELECTORS */
body {
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto Condensed', sans-serif;
}

/* ID SELECTORS */
#app {
    color: #fff;
    text-align: center;
}

#resume-builder {
    background-color: #fff;
    width: 720px;
    height: auto;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    color: #000;
    font-family: Helvetica, Sans-Serif;
    box-shadow: -1px 10px 16px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 10px 16px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 16px -5px rgba(0,0,0,0.75);
}


/* CLASS SELECTORS */
.border-bot {
    border-bottom: 2px solid black;
}

.mar-15 {
    margin: 15px 0;
}

.mar-45 {
    margin: 45px 0;
}

.flx-row {
    display: flex;
    flex-direction: row;
}

.flx-col {
    display: flex;
    flex-direction: column;
}

.just-center {
    justify-content: center;
}

.just-space {
    justify-content: space-between;
}

.pad-10 {
    padding: 10px 0;
}

.text-left {
    text-align: left;
}

.click-button {
    cursor: pointer;
}

.slideIn {
    animation: slideFadeLeft ease 1.5s;
    -webkit-animation: slideFadeLeft ease 1.5s;
    -moz-animation: slideFadeLeft ease 1.5s;
    -o-animation: slideFadeLeft ease 1.5s;
    -ms-animation: slideFadeLeft ease 1.5s;
}

@keyframes slideFadeLeft {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        left: 50%;
        opacity: 1;
    } 
}